*{
  margin: 0;
  padding: 0;
}
body{
  background: #FFFFF0;

}

/* about section */

.about-img{
  width: 1200px;
  margin: 0 auto 82px;
  padding-top: 48px;

}

.about-img img{
  width: 100%;
}

.our-story-div{
  background: #ADDDDF33;
  padding: 60px 0 81px;
  width: 1400px;

 

}
.our-story{
  display: flex;
  margin: 0 auto;
  color: #0898A0;
  margin-bottom: 74px;
  padding-right: 96px;

}

.our-story img{
  width: 556px;
  height: 474px;
  margin-right: 99px;
  margin-left: 82px;
}

.story-writeup{
  border: 1px solid red;

}

.story-writeup h1{
  font-size: 40px;
  margin-bottom: 24px;
}
.story-writeup p{
  font-size: 16px;
  margin-bottom: 20px;
  width: 577px;
  margin-right: 124px;
}

.get-in-touch{
  display: flex;
  
  color: #0898A0;
}

.get-in-touch-list{
  margin-left: 190px;
  margin-right: 308px;

}

.get-in-touch-img{
  width: 584px;
  height: 474px;
  margin-right: 96px;
  border: 1px solid red;

}

.get-in-touch-img img{

  /* margin-left: 308px; */
  /* padding-right: 96px; */
}


/*Navbar section */

nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #fffff0;
  height: 100px;
  width: 1440px;
  left: 2px;
  top: 42px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 20px;
}

.AU {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  width: 98px;
  height: 34px;
  left: -4px;
  top: 3px;
  color: #0898A0;
}
.logo {
  width: 130px;
  height: 43px;
  font-family: 'Hammersmith one';
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: #0898A0;
}

nav ul li a {
  top: 4px;
  width: 173px;
  height: 34px;
  left: 223px; 
  font-family: 'Roboto';
  color: #908989;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #47e1e9;
}

.login {
  color: #0898A0;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  width: 108px;
  height: 48px;
  left: 1103px;
  top: 60px;
  border: 1px solid #0898A0;
}

.Signup {
  background-color: #0898A0;
  width: 108px;
  height: 48px;
  gap: 10px;
  left: 1225px;
  top: 60px;
  padding: 10px;
  border-radius: 8px;
}
/*login and signUp write up*/
.login button {
  width: 83px;
  height: 48px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 140%;
  color: #0898A0;
  padding: 10px;
  gap: 10px;


}
.Signup button {
  font-style: normal;
  font-family: 'Roboto';
  line-height: 140%;
  width: 83px;
  height: 48px;
  color: #ffffff;
  background-color: inherit;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  gap: 10px;
}


/*footer section*/
.footer {
  position: absolute;
  width: 1440px;
  height: 391px;
  left: 0px;
  top: 3261px;
  background-color: #0898A0;
}
.footer-title {
  display: flex;
}

/*SignUp section*/

.SignUp-container {
  display: flex;
  position: absolute;
  width: 1440px;  
  height: 1024px;
  
}
/* Control the left side */
.text-left {
  justify-items: center;
  align-items: center;
  left: 0px;
  background-color: #0898A0;
  top: 0px;
  width: 732px;
  height: 1024px;
  
}
.text-1 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFF0;
  opacity: 0,8;
  font-family: "Hammersmith one";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  width: 256px;
  height: 43px;
  left: 240px;
  top: 394px;
}
.text-2 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFF0;
  opacity: 0,8;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  width: 378px;
  height: 68px;
  left: 140px;
  top: 445px;
}
.text-3 {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 40px;
  width: 194px;
  height: 62px;
  left: 250px;
  top: 537px;
  border-radius: 8px;
  background-color: #FFFFF0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #0898A0;

}
/* Control the right side */

.text-right {
  left: 0px;
  background-color: #FFFFF0;
}
.text-right-1 {
  position: absolute;
  width: 259px;
  height: 43px;
  left: 917px;
  top: 123px;
  font-family: "Hammersmith one";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #0898A0;
}
.text-right-2 {
  position: absolute;
  width: 238px;
  height: 56px;
  left: 924px;
  top: 174px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #0898A0;
  opacity: 0.4;
}
.title-1 {
  position: absolute;
  width: 284.27px;
  height: 45px;
  left: 808px;
  top: 254px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #0898A0;
}
.text-right-3 {
  position: absolute;
  width: 549.64px;
  height: 83.35px;
  left: 810.35px;
  top: 306.91px;
  border: 2.5px solid #0898A0;
  border-radius: 9px;
}
::placeholder {
  position: absolute;
  left: 50px;
  top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #746C6C;
  opacity: 0.6;

}
.title-2 {
  position: absolute;
  width: 154px;
  height: 34px;
  left: 810.35px;
  top: 407.98px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #0898A0;
  opacity: 0.8;
}
.text-right-4 {
  position: absolute;
  width: 549.64px;
  height: 83.35px;
  left: 810.35px;
  top: 449.91px;
  border: 2.5px solid #0898A0;
  border-radius: 9px;
}
.title-3 {
  position: absolute;
  width: 107px;
  height: 34px;
  left: 810.35px;
  top: 539.45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #0898A0;
  opacity: 0.8;
}
.text-right-5 {
  position: absolute;
  width: 549.64px;
  height: 83.35px;
  left: 810.35px;
  top: 581.37px;
  border: 2.5px solid #0898A0;
  border-radius: 9px;
}
.title-4 {
  position: absolute;
  width: 204px;
  height: 34px;
  left: 810.35px;
  top: 678.64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #0898A0;
  opacity: 0.8;
}
.text-right-6 {
  position: absolute;
  width: 549.64px;
  height: 83.35px;
  left: 810.35px;
  top: 720.57px;
  border: 2.5px solid #0898A0;
  border-radius: 9px;
}
.button-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 40px;
  position: absolute;
  width: 193px;
  height: 62px;
  left: 950px;
  top: 836px;
  background-color: #0898A0;
  border-radius: 8px;
  
}
.SignUp-button {
  width: 82px;
  height: 34px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFF0;
  background-color: inherit;
}