*{
  margin: 0;
  padding: 0;
}
body{
  /* work on font */
  background: #FFFFF0;
  font-family: 'Inter', sans-serif;
}

/* about section */


.about-img-div{
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25)
}

.about-img{
  width: 1272px;
  height: 816px;
  margin: 0 auto;
  padding: 48px 0 116px;
}

.about-img img{
  width: 100%;
}


/* our story */

.our-story-div{
  background: #ADDDDF33;
  width: 1440px;
}

.our-story{
  display: flex;
  margin: 0 auto;
  color: #0898A0;
  margin-bottom: 74px;
  padding-right: 96px;
}

.our-story img{
  width: 556px;
  height: 474px;
  margin: 60px 99px 0 82px;
}

.story-writeup h1{
  font-size: 40px;
  margin-top: 74px;
  margin-bottom: 24px;
  line-height: 48px;
}

.story-writeup p{
  font-size: 16px;
  margin-bottom: 25px;
  width: 577px;
  margin-right: 124px;
}

/* get in touch */

.get-in-touch{
  display: flex;
  color: #0898A0;
}

.get-in-touch-list{
  margin-top: 38px;
  margin-left: 190px;

}

.get-in-touch-list h2{
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}

.get-in-touch-list p{
  margin-bottom: 30px;
  margin-right: 328px;
  line-height: 22.4px;
  width: 240px;

}

.get-in-touch-img{
  width: 584px;
  height: 474px;
  margin-right: 96px;
  margin-bottom: 124px;
}

/* get started */
.sign-up-div{
  text-align: center;
}

.sign-up-div h3{
  font-size: 36px;
  color: #0898A0;
  line-height: 43.2px;
}

.sign-up-div button{
  background: #0898A0;
  width: 203px;
  height: 62px;
  color: #FFFFF0;
  padding: 4px 40px;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 115px;
  font-size: 24px;
  border: none;
}

/* about trestle */
.about-trestle{
  display: flex;
  color: #0898A0;
}

.about-trestle-writeup h3{
  font-size: 24px;
  margin-top: 28px;
  margin-bottom: 14px;
}
.about-trestle-writeup{
  margin-left: 113px;
  margin-right: 311px;
}

.about-trestle-writeup p{
  width: 456px;
  height: 168px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 14px;
}

.learn-more-button{
  width: 264px;
  height: 62px;
  font-size: 24px;
  line-height: 33.6px;
  color:#FFFFF0;
  background: #0898A0;
  border: none;
}

.learn-more-button:hover,
.learn-more-button:focus{
  background: #FFFFF0;
  color: #0898A0;
}

.about-trestle-img{
  width: 413px;
  height: 323px;
  margin: 14px 147px 84px 0;
}

.about-trestle-img img{
  width: 100%;
}


/* filter */


.filter{
  display: flex;
  height: 65px;
  font-family: 'Roboto', sans-serif;
}

.filter select{
  width: 193px;
  height: 65px;
  color: #0898A0;
  background: #FFFFF0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  margin: 0 22px 0 0;
  font-size: 24px;
  text-align: center;
}

.relevance-div{
  display: flex;
}

.relevance-div p{
  margin-bottom: 24px;
  width: 113px;
  height: 58px;
  font-size: 20px;
  color: #0898A0;
  text-align: center;
  margin-top: 22px;
}


/* invest page */

.invest{
  width: 1440px;
}

.invest-heading{
  display: flex;
}

.invest-heading h1{
   font-size: 40px;
   width: 541px;
   line-height: 48px;
   margin: 56px 413px 120px 94px;
   color: #31A9B0;
}

.funded-portfolio{
  width: 204px;
  height: 44px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #0898A0;
  margin: 72px 187px 0 0;
}

.funded-portfolio a{
  line-height: 24px;
  color: #0898A0;
  text-decoration: none;
  font-weight: 500;
}

.invest-filter{
  margin-left: 88px;
}

.investment-options{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  margin-bottom: calc(189px - 96px);
} 

.investment-option h4{
  font-size: 24px;
  color: #0898A0;
  margin-bottom: 31px;
  font-weight: 500;
  line-height: 33px;
}

.investment-options p{
  width: 382px;
  height: 140px;
  font-size: 20px;
  line-height: 28px;
}


.investment-option:nth-child(-n+3){
  margin-top: 70px;
}

.investment-option img{
  width: 398px;
  height: 308px;
  margin-bottom: 23px;
}

.investment-option:nth-child(3n - 2) {
  margin-left: 88px;
  margin-right: 32px;
}

.investment-option:nth-child(3n) {
  margin-right: 90px;
  margin-left: 32px;  
}

.investment-option button{
  width: 183px;
  height: 48px;
  border-radius: 4px;
  padding: 2px 0;
  background: #31A9B0;
  color: #FFFFF0;
  margin-top: 23px;
  margin-bottom: 96px;
}

/* find-investor */

.search-investor{
  margin: 56px 359px 72px 94px;
  display: flex;

}

.search-investor input{
  width: 900px;
  height: 66px;
  border: 2.5px solid #0898A0;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding-left: 36px;
  color: #746C6C;
  font-size: 24px;


}

.search-icon{
  width: 99px;
  height: 69px;
  border-radius: 9px;
  background: #0898A0;
  text-align: center;
  align-self: center;
  margin-left: -30px;
}

.search-icon img{
  width: 30px;
  height: 30px;
  margin-top: 16.5px;
}

.filter-investors{
  margin: 0 0 59.5px 94px;
}

.filter-investors-title{
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 33.6px;
  color: #0898A0;
  margin-bottom: 31px;
  
}

.featured-investors-title{
  height: 54px;
  width: 279px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  color: #FFFFF0;
  background: #0898A0;
  margin-bottom: 24px;
  text-align: center;
  border: none;
  margin-left: 94px;

}

.investors{
  background: #ADDDDF33;
  padding: 50px 203px 120px 87px;
  box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
}

.investor{
  display: flex;
}

.investor:nth-child(-n+3) {
  margin-bottom: 64px;
}

.investor img{
  width: 386px;
  height: 339px;
  margin-right: 42px;
}

.about-investor{
  display: flex;
  flex-direction: column;
}

.name-of-investor{
  color: #0898A0;
  font-size: 40px;
  line-height: 48px;
  margin: 130px 0 14px;
}

.investor-details{
  display: flex;
  margin-bottom: 14px;
}

.investor-details li{
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
}

.investor-job{
  margin-right: 69px;
  font-weight: 600;
  color: #584E4E;
  width: 210px;

}

.investor-location{
  display: flex;
  align-items: center;
  color: #584E4E;

}

.investor-location img{
  width: 16px;
  height: 24px; 
  margin-right: auto;
  
}

.investor-location p{
  margin-left: 15px;
  width: 221px;

}

.investor-status{
  margin-left: 176px;
  color: #0898A0;
  font-weight: 600;
}

.salary-of-investor{
  color: #584E4E;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Mulish', sans-serif;

}

/* see more form */
.see-more{
  font-family: "Roboto", sans-serif;

}

.see-more h3{
  color: #0898A0;
  margin: 49px 0 8px 395px;
  font-size: 24px;
  line-height: 34px;
  width: 460px;
  text-align: center;
}

.see-more p{
  color: #584E4E;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 52px 484px;
  width: 283px;
  height: 56px;
  text-align: center;

}

.find-investor-form,
.find-investor-form label{
  display: flex;
  flex-direction: column;
}


.find-investor-form label{
  color: #0898A0;
  font-size: 24px;
  line-height: 33.6px;
  margin-left: 422px;
}

.find-investor-form input{
  width: 550px;
  height: 83px;
  border-radius: 9px;
  border: 2.5px solid #0898A0;
  font-size: 20px;
  padding-left: 27px;
  margin: 8px 0 18px;
}

.find-investor-form button{
  background: #0898A0;
  color: #FFFFF0;
  width: 203px;
  height: 62px;
  padding: 4px 30px;
  margin-top: calc(85px - 18px);
  margin-bottom: 44px;
  border: none;
  align-self: center;
  font-size: 24px;
}

/* footer */

.footer{
  background: #0898A0;
  font-family: "Roboto", sans-serif;
  color: #FFFFF0;
  height: 385px;
  width: 1440px;

}

.footer-explore-resources-contact{
  display: flex;
  margin: 0 605px 57px 126px;
  justify-content: space-between;
  padding-top: 35px;
}
.footer h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  margin-bottom: 21px;
}

.footer p{
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 24px;
}

.footer ul{
  display: flex;
}

.footer li{
  list-style: none;
  margin-right: 20px;
}

.copyright-terms,
.copyright-div,
.terms-div{
  display: flex;
}

.copyright-terms p{
  font-weight: 400;
  font-size: 20px;
}

.copyright-div{
  /* width: 500px; */
  margin: 0 539px 0 92px;
}

.copyright-div p{
  margin-left: 20px;
}

.terms-div{
  margin-right: 161px;
}

.terms-div p:first-child{
  margin-right: 23px;
}




